HESML_Library/ReproducibleExperiments/SentenceSimilarityExperiments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Ramon Yepes (Investronica) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SentenceSimilarityExperiments">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="SingleDatasetSimilarityValuesExperiment" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="SentenceSimilarityMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SWEM_AveragePooling"/>
			<xs:enumeration value="SWEM_MaxPooling"/>
			<xs:enumeration value="SWEM_MinPooling"/>
			<xs:enumeration value="SWEM_SumPooling"/>
			<xs:enumeration value="Jaccard"/>
			<xs:enumeration value="Qgram"/>
			<xs:enumeration value="BlockDistance"/>
			<xs:enumeration value="OverlapCoefficient"/>
			<xs:enumeration value="Levenshtein"/>
			<xs:enumeration value="BertEmbeddingModelMeasure"/>
			<xs:enumeration value="ParagraphVector"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SingleDatasetSimilarityValuesExperiment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OutputFileName" type="xs:string"/>
				<xs:element name="DatasetDirectory" type="xs:string"/>
				<xs:element name="DatasetFileName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
